{{#Compras}}
<h1 style="text-align: center;">DETALLE DE COMPRA #{{id_compra}}</h1>

<div class="card border-dark mb-3 m-auto" style="max-width: 70rem;">
    <div class="card-header text-white bg-dark border-dark">
        <h3>Datos de la Compra</h3>
    </div>
    <div class="card-body text-dark">
        <h4 class="card-title">Token de Compra : {{token}}</h4>
        <h4 class="card-title">Estado de Pago :
            {{#ifCond id_estado_pago '==' '1'}}
            <span class="badge badge-success card-text">{{txt_estado_pago}}</span>
            {{/ifCond}}
            {{#ifCond id_estado_pago '==' '2'}}
            <span class="badge badge-danger card-text">{{txt_estado_pago}}</span>
            {{/ifCond}}
            {{#ifCond id_estado_pago '==' '3'}}
            <span class="badge badge-warning card-text">{{txt_estado_pago}}</span>
            {{/ifCond}}
            {{#ifCond id_estado_pago '==' '4'}}
            <span class="badge badge-secondary card-text">{{txt_estado_pago}}</span>
            {{/ifCond}}
        </h4>
    </div>

    <div class="card-header text-white bg-dark border-dark">
        <h3>Datos de Facturación</h3>
    </div>
    <div class="card-body text-dark">
        <h4 class="card-title">Nombre : {{txt_usuario}}</h4>
        <h4 class="card-text"> Apellido : {{txt_apellido}}</h4>
        <h4 class="card-text"> Email de Contacto : {{txt_mail}}</h4>
    </div>
    <div class="card-header text-white bg-dark border-dark">
        <h3>Datos de Envio</h3>
    </div>
    <div class="card-body text-dark">
        <h4 class="card-title">Provincia : {{txt_provincia}}</h4>
        <h4 class="card-text">Direccion : {{txt_direccion}}</h4>
    </div>
    <div class="card-header text-white bg-dark border-dark">
        <h3>Detalle de productos</h3>
    </div>
    {{#each ArrProductos}}
    <div class="card-body text-dark">
        <img src="{{Url}}" alt="{{txt_nombre}}" class="card-img-top" style="width: 150px;">
        <h4 class="card-title">Categoria : {{txt_categoria}}</h4>
        <h4 class="card-title">Producto : {{txt_nombre}}</h4>
        <h4 class="card-title">Descripcion : {{txt_desc}}</h4>
    </div>
    {{/each}}
    {{/Compras}}