<h1 style="text-align: center;">COMPRAS</h1>
<table class="table m-auto" style="max-width: 1080px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Estado Pago</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        {{#each Compras}}
        <tr>
            <th scope="row">{{id_compra}}</th>
            <td>{{txt_usuario}}</td>
            <td>
                {{#ifCond id_estado_pago '==' '1'}}
                <span class="badge badge-success">{{txt_estado_pago}}</span>
                {{/ifCond}}
                {{#ifCond id_estado_pago '==' '2'}}
                <span class="badge badge-danger">{{txt_estado_pago}}</span>
                {{/ifCond}}
                {{#ifCond id_estado_pago '==' '3'}}
                <span class="badge badge-warning">{{txt_estado_pago}}</span>
                {{/ifCond}}
                {{#ifCond id_estado_pago '==' '4'}}
                <span class="badge badge-secondary">{{txt_estado_pago}}</span>
                {{/ifCond}}
            </td>
            <td><a href="/admin/compras/{{id_compra}}"> Ver mas ...</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>