<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">ABM de Productos</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Exportar</a>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Detalle</h6>
                    <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm m-right">+ Agregar</a>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table table-bordered dataTable">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    ID Producto
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    Nombre
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    Descripciòn
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    Categoria
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    Precio
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    S/N Especial
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    S/N Habilitado
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                                    style="width: 57px;">
                                    Editar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Productos}}
                            <tr role="row" class="even">
                                <td>{{id_producto}}</td>
                                <td>{{txt_nombre}}</td>
                                <td>{{txt_desc}}</td>
                                <td>{{txt_categoria}}</td>
                                <td>${{imp_precio}}</td>

                                <td>
                                    {{#ifCond sn_especial '==' 1}}
                                    <span class="badge badge-warning">Si</span>
                                    {{else}}
                                    <span class="badge badge-secondary">No</span>
                                    {{/ifCond}}
                                </td>

                                <td>
                                    {{#ifCond sn_habilitado '==' 1}}
                                    <span class="badge badge-success">Habilitado</span>
                                    {{else}}
                                    <span class="badge badge-danger">Inhabilitado</span>
                                    {{/ifCond}}
                                </td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-secondary shadow-sm m-left" data-toggle="modal"
                                        data-target="#editModal{{id_producto}}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-danger shadow-sm m-left" data-toggle="modal"
                                        data-target="#deleteModal{{id_producto}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{#each Productos}}
    <!-- Borrar Modal-->
    <div class="modal fade" id="deleteModal{{id_producto}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <input type="hidden" id="id_producto" value="">
                <div class="modal-body">Seleccione "Eliminar" si realmente desea eliminar el producto
                    <strong>{{txt_nombre}}</strong>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/admin/productos/delete/{{id_producto}}">Eliminar</a>
                    <button class="btn btn-warning" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Fin Borrar Modal-->

    {{#each Productos}}
    <!-- Editar Modal-->
    <div class="modal fade" id="editModal{{id_producto}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar producto <strong>{{txt_nombre}}</strong></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/admin/productos/update/{{id_producto}} " enctype = "multipart/form-data">
                        <div class="form-group">
                            <label for="txt_nombre" class="col-form-label">Nombre: </label>
                            <input type="text" class="form-control" id="txt_nombre" value="{{txt_nombre}}"
                                name="txt_nombre">
                        </div>
                        <div class="form-group">
                            <label for="txt_desct" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" id="txt_desc" name="txt_desc">{{txt_desc}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_categoria" class="col-form-label">Categoria:</label>
                            <select name="id_categoria" id="id_categoria" class="form-control">
                                {{#each ../Categorias}}
                                {{#ifCond ../id_categoria '==' this.id_categoria}}
                                <option value="{{id_categoria}}" selected="selected">{{txt_categoria}}</option>
                                {{else}}
                                <option value="{{id_categoria}}">{{txt_categoria}}</option>
                                {{/ifCond}}
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imp_precio" class="col-form-label">Precio:</label>
                            <input type="number" class="form-control" id="imp_precio" value="{{imp_precio}}"
                                name="imp_precio">
                        </div>

                        <div class="form-group">
                            {{#ifCond image '!=' ''}}
                            <img src="/{{image}}" alt="Imagen" class="rounded w-25">
                            {{/ifCond}}
                            <input type="file" class="form-control-file" id="image" name="image">
                        </div>
                        <div class="form-group">
                            <label for="sn_especial" class="col-form-label">Menú especial:</label>
                            <select name="sn_especial" id="sn_especial" class="form-control">
                                {{#ifCond sn_especial '==' 1}}
                                <option value="1" selected="selected">SI</option>
                                {{else}}
                                <option value="1">SI</option>
                                {{/ifCond}}

                                {{#ifCond sn_especial '==' 1}}
                                <option value="0">NO</option>
                                {{else}}
                                <option value="0" selected="selected">NO</option>
                                {{/ifCond}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sn_habilitado" class="col-form-label">Habilitado:</label>
                            <select name="sn_habilitado" id="sn_habilitado" class="form-control">
                                {{#ifCond sn_habilitado '==' 1}}
                                <option value="1" selected="selected">SI</option>
                                {{else}}
                                <option value="1">SI</option>
                                {{/ifCond}}

                                {{#ifCond sn_habilitado '==' 1}}
                                <option value="0">NO</option>
                                {{else}}
                                <option value="0" selected="selected">NO</option>
                                {{/ifCond}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- Fin Editar  Modal-->
</div>